/* header start */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.header img {
    display: block;
    margin: 0 auto; 
    width: 30%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    height: 120px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('imgs/flowCloud.png') repeat-x;
    background-size: cover;
    animation: moveClouds 60s linear infinite;
    z-index: -1;
}

.header img {
    height: 50px;
    animation: fadeIn 2s ease-in;
    z-index: 1;
}

.catchphrase {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: slideIn 2s ease-in-out;
    z-index: 1;
}

.join-button {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    width: inherit;
    min-width: 188px;
    border: 2px solid #ffffff;
    padding: 12px 16px;
    position: relative;
    opacity: 1 !important;
    transition: all 0.3s;
    z-index: 2;
}

.join-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #ffffff;
    transition: all 0.3s;
    pointer-events: none;
    z-index: -1; 
}

.join-button span {
    position: relative;
    z-index: 2;
    transition: color 0.3s;
}

.join-button:hover {
    transform: scale(0.9);
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-50%);
    }
}

/* header finish */


/*ここからメイン上*/

.fixed1{
    position: fixed;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 390px;
    bottom: 10;
    left: 400px;
    margin: auto;
    border-radius: 30px;
    background: #f9d4d8;
    z-index: 1;
}
.fixed2{
    position: fixed;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 200px;
    bottom: 10;
    left: 800px;
    margin: auto;
    border-radius: 30px;
    background: #f9d4d8;
    z-index: 2;
}

.under_line{
    text-decoration-line: none; 
}

.fixed1:hover{
    background-color: #fcc7ce;
}
.fixed2:hover{
    background-color: #fcc7ce;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

main{
    background-image: url("imgs/青空.jpg");
    background-size: cover;
}

.seisyun_images{
    display: flex;
    grid-template-columns: 200px 1px 200px 1px 200px;
    gap: 100px;
    max-width: fit-content;
    margin: auto;
}

.plus1{
    position: absolute;
    top: 250;
    left: 430;
    font-size:150px;
    padding:0;
    margin:0;
}

.plus2{
    position: absolute;
    top: 250;
    left: 930;
    font-size:150px;
    padding:0;
    margin:0;
}

.machine1{
    position: relative;
    top:100;
}
.karaoke{
    position: relative;
    top:100;
}
.beauty{
    position: relative;
    top:100;
}
.exercise_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:75px;
    font-family: "ヒラギノ明朝 ProN";
    color: rgb(255, 0, 0);
    padding:0;
    margin:0;
}
.entertainment_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:75px;
    font-family: "ヒラギノ明朝 ProN";
    color: rgb(0, 242, 255);
    padding:0;
    margin:0;
}
.beauty_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-family: "ヒラギノ明朝 ProN";
    color: rgb(255, 0, 191);
    padding:0;
    margin:0;
}

.machine1 img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       
    height: 300px;
}

.karaoke img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       
    height: 300px;
}

.beauty img{
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       
    height: 300px;
}

.br1{
    display: block;
    content: '';
    height: 150px;
}

.catch_copy{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: "ヒラギノ明朝 ProN";
}

.br2{
    display: block;
    content: '';
    height: 10px;
}



/*ここからメイン下*/
 #main2-topic {
   /*background-image: url('imgs/item-bluesky.jpeg');*/
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 50px 0; 
 }
 
/*料金表示*/
.cost-abstract{
   position: relative;
   font-size: 80;
   padding: 1rem .5rem;
}

.cost-abstract-items{
   display: flex;
   justify-content: center;
   color: white;
}

.cost-abstract-item1{
    text-shadow: 3px 3px 10px black;
 } 

 .cost-abstract-item2{
   font-size: 30;
   color: black;
   margin-top:55px;
   margin-left: 20px; 
} 

.cost-abstract-item1:after{
   position: absolute;
   bottom: 0;
   left: 25%;
   width: 50%;
   height: 6px;
   content: '';
   border-radius: 3px;
   background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
   background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
 }

/*料金表示ここまで*/

/*メイン2の画像スライドショー*/

.machine-image-contens_items{
    position: relative;
    width: 40%;
    height: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px;
 }


.img-01, .img-02, .img-03{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;

}

.img-01{
   background-image: url('imgs/item-machine-1.jpeg');
   animation: slide-animation-01 24s infinite;
}
.img-02{
   background-image: url('imgs/item-sing-1.jpeg');
   animation: slide-animation-02 24s infinite;
}
.img-03{
   background-image: url('imgs/item-darts.jpeg');
   animation: slide-animation-03 24s infinite;
}
/* .img-04{
   background-image: url('imgs/item-este.jpeg');
   animation: slide-animation-01 48s infinite;
}
.img-05{
   background-image: url('imgs/item-machine-1.jpeg');
   animation: slide-animation-02 48s infinite;
}

.img-06{
   background-image: url('imgs/item-briyard.jpeg');
   animation: slide-animation-03 48s infinite;
} */

@keyframes slide-animation-01 {
    0% {opacity: 1; transform: scale(1.0);}
  30% {opacity: 1;}
  40% {opacity: 0; transform: scale(1.15);}
  90% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
    0% {opacity: 0;}
  30% {opacity: 0; transform: scale(1.1);}
  40% {opacity: 1;}
  60% {opacity: 1;}
  70% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}
@keyframes slide-animation-03 {
    0% {opacity: 0;}
  60% {opacity: 0;  transform: scale(1.0);}
  70% {opacity: 1;}
  90% {opacity: 1;}
100% {opacity: 0; transform: scale(1.1);}
}


    /*メイン2の画像スライドショー*/



/* footerのCSS */
footer {
    background-color: #888888;
    height: 400px;
}

.footer {
    /* display: flex; */
    text-align: center;
    height: 100%;
}


.footer-icon img {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sns-icons img {
    width: 4.4rem;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.jamp:hover {
    animation: jamp 0.9s linear 0s 1;
  }
  @keyframes jamp {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
    10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
    50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
    60%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
    75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
    85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
  }


.footer-nav {
    display: flex;
    margin-top: 10px;
    /* margin: 0 auto; */
    justify-content: center;
    gap: 30px 30px;
}

.footer-nav li {
    list-style: none;
} 

.footer-nav li a {
    text-decoration: none;
}

.footer-nav li a:hover {
    opacity: 0.7;
}

.footer p {
    margin-top: 20px;
}
/* footerここまで */

