div.header {
    color:blue
}


/* footerのCSS */
footer {
    background-color: #888888;
    height: 200px;
}

.footer {
    display: flex;
}


.footer-icon img {
    width: 200px;
}
.sns-icons img {
    width: 4.4rem;
    height: auto;
    /* border-radius: 50%; */
}

/* footerここまで */